{% extends 'contactos/index.html' %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block content %}

 <section id="content">
 	<div class="container">
 		<div class="row">
 			<div class="col">
 			
			        <ul>

			            <li><strong>Foto</strong>
			            	<img src="{{contactos.imagen.url}}" width="400" height="400">
			        	</li>
			                
			        </ul>
 			</div>
 			<div class="col">
 				<h1>Informacion de Contacto</h1>
		        <ul>
		                
		                <li><strong>Nombre</strong>:  {{contactos.nombre}}</li>
		                <li><strong>Email</strong>:  {{contactos.email}}</li>
		                <li><strong>Telefono</strong>: {{contactos.telefono}}</li>
		                <li><strong>Direccion</strong>: {{contactos.direccion}}</li>
		                
		        </ul>
				<h1>Formulario de contacto</h1>

				            
				        <div class="form-group">
				            <label for="InputNombre">Nombre</label>
				            <input type="password" class="form-control" id="InputNombre" placeholder="Nombre">
				        </div>
				        <div class="form-group">
				            <label for="InutEmail"> Email address</label>
				            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
				        </div>
				        <div>
				            <textarea class="form-control" rows="3"></textarea>

				            <p class="text-right"><button class="btn btn-success" style="margin-top: 10px;" >Enviar</button></p>
						</div>
 			</div>
 			<div class="col">
 				<iframe  width="400" height="300"  class="embed-responsive-item col-sm-3 col-xs-12 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.771855116723!2d-70.61586352953265!3d-33.4351384863393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x54cf17d9cfb58729!2sUNAB+-+Campus+Antonio+Varas!5e0!3m2!1ses!2ses!4v1499227659550" style="border:0; margin-bottom: 13px;" allowfullscreen></iframe>

 			</div>
 		</div>
 	</div>
 </section>

{% endblock %}