{% extends 'contactos/index.html' %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block content %}

<section>
	<div class="container">
		<div class="col-sm-12">

					
		
		
			<h1>Contactos <small>ICINF</small></h1>

			<table class="table table-striped">
				<thead>
					<tr >
						<th>#</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Teléfono</th>
						<th>Acción</th>
					</tr>
					<tbody>
                    {% for contactos in object_list %}
                    	<tr>
                      <th scope="row">{{contactos.id}}</th> 
                      <td><a href="#">{{contactos.nombre}}</a></td>
                      <td>{{contactos.apellido}}</td>
                      <td>{{contactos.telefono}}</td>
                      <td>
                        <a href="{% url 'detalle' contactos.pk %}" class="btn btn-outline-success my-2 my-sm-0" >> Ver Detalle</a>
                      </td>
                
                    	{% endfor %} 


                  	</tbody>

				</thead>

			</table>

		</div>
	</div>
</section>

{% endblock %}